<!-- components/header/header.component.html -->
<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand fw-bold fs-4" href="#">Ravi Raj.</a>

      <button
        class="navbar-toggler"
        type="button"
        (click)="isMenuCollapsed = !isMenuCollapsed"
        aria-controls="navbarNav"
        [attr.aria-expanded]="!isMenuCollapsed"
        aria-label="Toggle navigation"
      >
        <i class="bx bx-menu fs-4"></i>
      </button>

      <div
        [ngbCollapse]="isMenuCollapsed"
        class="collapse navbar-collapse"
        id="navbarNav"
      >
        <ul class="navbar-nav ms-auto">
          <li class="nav-item" *ngFor="let item of navItems">
            <a
              class="nav-link px-3"
              [class.active]="activeSection === item.link"
              [href]="'#' + item.link"
              (click)="setActiveOption(item.link); toggleNavigation()"
              >{{ item.name }}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
