<!-- components/home/home.component.html -->
<section
  class="py-5 bg-dark text-light min-vh-100 d-flex align-items-center"
  id="home"
>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="home-content">
          <h3 class="fw-light mb-3">Hello, It's Me</h3>
          <h1 class="fw-bold display-4 mb-3">Ravi Raj</h1>
          <h3 class="fw-light mb-4">
            And I'm a <br />
            <span class="text-primary" #typedElement></span>
          </h3>
          <p class="lead mb-4">
            "Passionate full-stack developer with expertise in front-end and
            back-end technologies. Dedicated to crafting efficient, scalable
            solutions that drive innovation and deliver exceptional user
            experiences."
          </p>
          <div class="social-media mb-4">
            <a
              href="#"
              class="btn btn-outline-light me-2 mb-2 rounded-circle"
              style="width: 45px; height: 45px"
            >
              <i
                class="bi bi-facebook fs-5 d-flex justify-content-center align-items-center h-100"
              ></i>
            </a>
            <a
              href="#"
              class="btn btn-outline-light me-2 mb-2 rounded-circle"
              style="width: 45px; height: 45px"
            >
              <i
                class="bi bi-twitter fs-5 d-flex justify-content-center align-items-center h-100"
              ></i>
            </a>
            <a
              href="#"
              class="btn btn-outline-light me-2 mb-2 rounded-circle"
              style="width: 45px; height: 45px"
            >
              <i
                class="bi bi-instagram fs-5 d-flex justify-content-center align-items-center h-100"
              ></i>
            </a>
            <a
              href="#"
              class="btn btn-outline-light me-2 mb-2 rounded-circle"
              style="width: 45px; height: 45px"
            >
              <i
                class="bi bi-linkedin fs-5 d-flex justify-content-center align-items-center h-100"
              ></i>
            </a>
          </div>
          <a
            href="assets/raviraj.pdf"
            class="btn btn-primary px-4 py-2"
            download
            >Download CV</a
          >
        </div>
      </div>
      <div class="col-lg-6">
        <div class="home-img text-center">
          <img
            src="assets/images/ravi1.png"
            alt="Ravi Raj"
            class="img-fluid rounded-circle"
            style="max-width: 80%"
          />
        </div>
      </div>
    </div>
  </div>
</section>
